@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

img {
  max-width: 100%;
  height: auto; }

a {
  color: inherit;
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0.9;
  z-index: 100; }

.page-header {
  position: relative; }
  @media (min-width: 768px) {
    .page-header {
      padding-left: 50px;
      padding-right: 50px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }

.page-header__nav {
  margin: 0 auto; }

.page-header__logo {
  padding: 0 30px;
  padding-top: 22px;
  padding-bottom: 16px;
  margin: 0 auto; }
  .page-header__logo[href]:hover, .page-header__logo[href]:focus {
    opacity: 0.6; }
  .page-header__logo[href]:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .page-header__logo {
      padding-left: 0;
      margin: 0;
      margin-right: auto; } }
  @media (min-width: 1150px) {
    .page-header__logo {
      padding: 0 30px;
      padding-top: 9px;
      margin-left: 10px; } }

.page-header__logo img {
  width: 86px;
  height: 35px; }
  @media (min-width: 768px) {
    .page-header__logo img {
      width: 114px;
      height: 46px; } }
  @media (min-width: 1150px) {
    .page-header__logo img {
      width: 149px;
      height: 72px; } }

.page-header__info {
  position: absolute;
  top: 110px;
  right: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  z-index: 10; }
  @media (max-width: 767px) {
    .page-header__info {
      display: none; } }

.main-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  font-weight: 700;
  box-shadow: 0 1px 0 #ececec; }
  @media (min-width: 768px) {
    .main-navigation {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      box-shadow: none; } }

.main-navigation__toggle {
  display: none;
  position: absolute;
  top: 15px;
  right: 16px;
  width: 50px;
  height: 50px;
  padding: 0;
  border: 0;
  background-color: transparent; }
  @media (max-width: 767px) {
    .main-navigation__toggle {
      display: block; } }

@media (max-width: 767px) {
  .no-js .main-navigation__toggle {
    display: none; } }

.main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 15px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000; }

.main-navigation--opened .main-navigation__toggle::before, .main-navigation--opened .main-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 12px;
  width: 27px;
  height: 2px;
  background-color: #000000;
  box-shadow: none; }

.main-navigation--opened .main-navigation__toggle::before {
  transform: rotate(45deg); }

.main-navigation--opened .main-navigation__toggle::after {
  transform: rotate(-45deg); }

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .main-navigation__list {
      position: absolute;
      top: 85px;
      left: 0;
      display: flex;
      justify-content: space-between;
      width: 305px;
      font-size: 15px;
      z-index: 10; } }
  @media (min-width: 1150px) {
    .main-navigation__list {
      position: static;
      order: -1;
      width: auto;
      font-size: 17px; } }
  .main-navigation__list--market {
    position: absolute;
    display: none;
    top: 88px;
    left: 0; }
    @media (min-width: 1150px) {
      .main-navigation__list--market {
        display: flex; } }

.main-navigation__item {
  display: flex;
  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 76px;
  padding-right: 35px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec; }
  @media (max-width: 767px) {
    .main-navigation__item {
      display: none; } }
  .main-navigation__item[href]:hover, .main-navigation__item[href]:focus {
    color: rgba(0, 0, 0, 0.6); }
    .main-navigation__item[href]:hover .main-navigation__item-icon, .main-navigation__item[href]:focus .main-navigation__item-icon {
      opacity: 1;
      fill: #63d1bb; }
  .main-navigation__item[href]:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .main-navigation__item {
      box-shadow: none;
      padding: 25px 0; } }
  @media (min-width: 1150px) {
    .main-navigation__item {
      padding: 0 35px;
      padding-top: 33px;
      padding-bottom: 31px; } }
  .main-navigation__item--search, .main-navigation__item--cart {
    display: flex;
    align-items: center;
    padding-left: 32px; }
    @media (max-width: 767px) {
      .main-navigation__item--search, .main-navigation__item--cart {
        display: none; } }
    @media (min-width: 768px) {
      .main-navigation__item--search, .main-navigation__item--cart {
        padding: 0 32px;
        padding-top: 33px;
        padding-bottom: 31px; }
        .main-navigation__item--search .main-navigation__item-icon, .main-navigation__item--cart .main-navigation__item-icon {
          margin: 0; } }
  @media (min-width: 768px) {
    .main-navigation__item--search span {
      display: none; } }
  @media (min-width: 768px) {
    .main-navigation__item--search {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1); } }
  @media (min-width: 768px) {
    .main-navigation__item--cart {
      padding-right: 0; } }
  @media (min-width: 768px) {
    .main-navigation__item--search::before {
      margin-right: 0; } }
  .main-navigation__item--new, .main-navigation__item--sale {
    padding: 20px 0;
    margin-right: 60px;
    font-size: 15px; }
  @media (min-width: 1150px) {
    .main-navigation__item--catalog {
      padding-left: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.1); } }

.main-navigation--opened .main-navigation__item {
  display: block; }

.main-navigation__item-icon {
  margin-right: 26px;
  opacity: 0.2; }

.main-navigation__item--cart .main-navigation__item-icon {
  margin-right: 23px; }
  @media (min-width: 768px) {
    .main-navigation__item--cart .main-navigation__item-icon {
      margin-right: 32px; } }

.page-main--index {
  background-color: #f9f9f9;
  background-image: url("../img/index-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% -17px;
  background-size: 320px auto; }
  @media (min-resolution: 2dppx) {
    .page-main--index {
      background-image: url("../img/index-bg-mobile@2x.jpg"); } }
  @media (min-width: 768px) {
    .page-main--index {
      background-image: url("../img/index-bg.jpg");
      background-position: 50% 0;
      background-size: 768px auto; } }
  @media (min-width: 768px) and (min-resolution: 2dppx) {
    .page-main--index {
      background-image: url("../img/index-bg@2x.jpg"); } }

.page-main__title-wrapper {
  position: relative;
  padding: 5px 0;
  padding-bottom: 4px;
  background-color: #f1f1f1; }
  @media (min-width: 768px) {
    .page-main__title-wrapper::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/zigzag-tablet.svg");
      background-position: -5px 0; } }
  @media (min-width: 1150px) {
    .page-main__title-wrapper::after {
      bottom: -16px;
      height: 34px;
      background-image: url("../img/zigzag-desktop.svg"); } }

.page-main__title {
  max-width: 1050px;
  padding: 0 30px;
  margin: 69px auto;
  font-size: 27px;
  line-height: 30px;
  text-align: center; }
  @media (min-width: 768px) {
    .page-main__title {
      margin: 0 auto;
      margin-top: 96px;
      margin-bottom: 81px;
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .page-main__title {
      margin-bottom: 92px;
      font-size: 53px;
      line-height: 57px; } }

.page-main__title--index {
  margin-top: 73px;
  margin-bottom: 120px;
  background: none; }
  @media (min-width: 768px) {
    .page-main__title--index {
      margin-top: 153px;
      margin-bottom: 371px; } }
  @media (min-width: 1150px) {
    .page-main__title--index {
      margin-top: 157px;
      margin-bottom: 355px; } }

.page-main__features {
  margin: 0 auto; }

.page-main__contacts {
  margin: 0 auto; }

.page-main__video {
  margin: 0 auto;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .page-main__video {
      margin-bottom: 64px; } }
  @media (min-width: 1150px) {
    .page-main__video {
      margin-bottom: 104px; } }

.categories {
  position: relative;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff; }
  @media (min-width: 500px) {
    .categories {
      font-size: 20px;
      line-height: 30px; }
      .categories::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 24px;
        background-image: url("../img/zigzag-tablet.svg");
        background-position: 50% 0; } }
    @media (min-width: 500px) and (min-width: 768px) {
      .categories::after {
        bottom: -11px; } }
    @media (min-width: 500px) and (min-width: 1150px) {
      .categories::after {
        bottom: -16px;
        height: 34px;
        background-image: url("../img/zigzag-desktop.svg"); } }

.categories__wrapper {
  max-width: 1050px;
  margin: 0 auto; }
  @media (min-width: 500px) {
    .categories__wrapper {
      padding: 0 50px; } }

.categories__list {
  padding: 0;
  margin: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .categories__list {
      display: flex;
      flex-wrap: wrap; } }

.categories__item {
  position: relative;
  background-color: #63d1bb;
  flex-grow: 1; }
  @media (min-width: 768px) {
    .categories__item {
      width: 50%; }
      .categories__item:hover {
        top: -5px; } }
  .categories__item:nth-child(even) {
    background-color: #56c3b2; }

.categories__link {
  position: relative;
  display: block;
  padding: 0 30px;
  padding-top: 25px;
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .categories__link {
      padding-left: 36px;
      padding-right: 36px;
      padding-bottom: 35px; } }
  .categories__link .categories__item-icon {
    position: absolute;
    opacity: 0.5; }
  .categories__link:hover .categories__item-icon {
    opacity: 0.7; }
  .categories__link:active .categories__item-icon {
    opacity: 0.3; }

.categories__link--interior .categories__item-icon {
  top: 22px;
  right: 36px; }
  @media (min-width: 768px) {
    .categories__link--interior .categories__item-icon {
      top: 30px; } }

.categories__link--toys .categories__item-icon {
  top: 22px;
  right: 27px; }
  @media (min-width: 768px) {
    .categories__link--toys .categories__item-icon {
      top: 31px;
      right: 33px; } }

.hit {
  position: relative;
  background-color: #ffffff; }
  .hit::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line-mobile.svg");
    background-position: 50% 0;
    background-repeat: no-repeat; }
  @media (min-width: 500px) {
    .hit::after {
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.svg"); } }
  @media (min-width: 900px) {
    .hit::after {
      height: 23px;
      background-image: url("../img/zigzag-line-desktop.svg"); } }

.hit__wrapper {
  max-width: 875px;
  padding: 0 30px;
  padding-top: 30px;
  padding-bottom: 42px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .hit__wrapper {
      display: grid;
      grid-template-columns: 292px 1fr;
      column-gap: 42px;
      padding: 50px;
      padding-bottom: 68px; } }
  @media (min-width: 1150px) {
    .hit__wrapper {
      grid-template-columns: 292px 525px;
      grid-template-rows: min-content 1fr;
      padding-top: 54px;
      padding-bottom: 96px;
      padding-left: 225px;
      column-gap: 58px;
      row-gap: 36px; } }

.hit__title {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 292px;
  margin: 0 auto;
  margin-bottom: 18px;
  font-size: 25px;
  line-height: 30px; }
  @media (min-width: 430px) {
    .hit__title {
      flex-direction: row;
      justify-content: space-between;
      grid-column: 1/-1;
      max-width: 410px; } }
  @media (min-width: 768px) {
    .hit__title {
      max-width: 875px;
      padding-right: 13px;
      margin: 0;
      margin-bottom: 39px;
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .hit__title {
      grid-row: 1/2;
      margin-top: 77px;
      margin-bottom: 0;
      font-size: 53px;
      line-height: 57px;
      z-index: 2; } }

.hit__text {
  margin-top: 7px;
  order: 2;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  color: #63d1bb; }
  @media (min-width: 430px) {
    .hit__text {
      width: 100px;
      text-align: center; } }
  @media (min-width: 1150px) {
    .hit__text {
      position: absolute;
      top: 1px;
      left: -143px; } }

.hit__info {
  max-width: 410px;
  margin: 0 auto;
  margin-bottom: 28px;
  color: #444444; }
  @media (min-width: 768px) {
    .hit__info {
      margin-bottom: 57px; } }

.hit__description {
  margin: 0;
  margin-bottom: 18px;
  font-size: 15px; }
  @media (min-width: 768px) {
    .hit__description {
      margin-bottom: 38px;
      font-size: 17px;
      line-height: 30px; } }
  @media (min-width: 1150px) {
    .hit__description {
      margin-bottom: 50px; } }

.hit__specs {
  margin: 0; }

.hit__image {
  display: block;
  grid-row: 2/4;
  grid-column: 2/3;
  margin: 0 auto;
  margin-bottom: 26px;
  width: 100%;
  max-width: 360px; }
  @media (min-width: 768px) {
    .hit__image {
      max-width: 525px;
      margin: 0;
      margin-top: 12px; } }
  @media (min-width: 1150px) {
    .hit__image {
      grid-row: 1/4;
      margin-top: 16px; } }

.hit__picture {
  grid-row: 2/4;
  grid-column: 2/3; }
  @media (min-width: 1150px) {
    .hit__picture {
      grid-row: 1/4; } }

.hit__order {
  margin-top: auto;
  text-align: center; }

.hit__price {
  font-weight: 700; }
  @media (min-width: 768px) {
    .hit__price {
      font-size: 20px; } }

.hit__buy {
  max-width: 292px;
  margin: 0 auto;
  margin-top: 24px; }
  @media (min-width: 768px) {
    .hit__buy {
      margin-top: 30px; } }

.specs {
  font-size: 15px;
  line-height: 20px; }

.specs__item {
  display: flex;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 11px;
  border-bottom: 1px solid #f1f1f1; }

.specs__name {
  width: 22%; }
  @media (min-width: 768px) {
    .specs__name {
      width: 20%; } }

.button {
  display: block;
  padding: 14px 11px;
  border: 2px solid #444444;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:focus {
    color: #ffffff;
    background-color: #444444; }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }
  .button--to-cart {
    padding-top: 18px;
    padding-bottom: 18px;
    border: 0;
    color: #ffffff;
    background-color: #63d1bb; }

.features {
  background-color: #ffffff; }

.features__wrapper {
  display: flex;
  flex-direction: column;
  padding: 31px 30px;
  margin: 0 auto;
  max-width: 875px;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .features__wrapper {
      padding: 26px 50px;
      padding-top: 55px;
      padding-bottom: 78px; } }
  @media (min-width: 1150px) {
    .features__wrapper {
      padding-left: 225px;
      padding-top: 68px;
      padding-bottom: 81px; } }

.features__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 30px; }
  @media (min-width: 768px) {
    .features__title {
      margin-bottom: 45px;
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .features__title {
      font-size: 53px;
      line-height: 57px; } }

.features__list {
  display: grid;
  row-gap: 29px;
  padding: 0;
  margin: 0 auto;
  list-style: none; }
  @media (min-width: 600px) {
    .features__list {
      grid-template-columns: 1fr 1fr;
      margin: 0;
      row-gap: 57px; } }
  @media (min-width: 1150px) {
    .features__list {
      max-width: 650px;
      column-gap: 50px;
      row-gap: 55px; } }

.features__item {
  position: relative;
  padding-top: 54px;
  margin: 0;
  line-height: 20px;
  font-weight: 700;
  max-width: 300px; }
  @media (max-width: 767px) {
    .features__item:nth-child(even) {
      order: 1; } }
  @media (min-width: 768px) {
    .features__item {
      font-size: 20px;
      line-height: 22px; } }
  .features__item::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  .features__item--flower::before {
    top: -10px;
    left: -3px;
    background-image: url("../img/flower.svg"); }
  .features__item--ball::before {
    top: -9px;
    left: -7px;
    background-image: url("../img/ball.svg"); }
  .features__item--money::before {
    top: -14px;
    left: -4px;
    background-image: url("../img/money.svg"); }
  .features__item--rocket::before {
    top: -13px;
    left: -6px;
    background-image: url("../img/rocket.svg"); }
  .features__item--heart::before {
    top: -9px;
    left: -4px;
    background-image: url("../img/heart.svg"); }
  .features__item--gift::before {
    top: -11px;
    left: -8px;
    background-image: url("../img/gift.svg"); }

.slider {
  font-size: 15px;
  line-height: 30px;
  color: #444444; }

.slider__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.slider__item {
  display: none; }

.slider__item--active {
  display: block; }

.slider__toggles {
  display: flex;
  margin: 0; }

.slider__toggle {
  width: 130px;
  padding: 0 38px;
  padding-top: 12px;
  padding-bottom: 9px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  text-align: left;
  cursor: pointer; }
  @media (min-width: 768px) {
    .slider__toggle {
      width: auto;
      padding: 14px 19px;
      border: 0; } }
  .slider__toggle:hover .slider__toggle-icon {
    opacity: 0.6; }
  .slider__toggle:active .slider__toggle-icon {
    opacity: 0.3; }
  .slider__toggle:disabled {
    cursor: not-allowed; }
    .slider__toggle:disabled .slider__toggle-icon {
      opacity: 0.2; }
  .slider__toggle:last-child {
    border-left: 0; }

.reviews {
  position: relative;
  background-color: #ffffff; }
  .reviews::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line-mobile.svg");
    background-position: 50% 0;
    background-repeat: no-repeat; }
  @media (min-width: 500px) {
    .reviews::after {
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.svg"); } }
  @media (min-width: 900px) {
    .reviews::after {
      height: 23px;
      background-image: url("../img/zigzag-line-desktop.svg"); } }

.reviews__wrapper {
  max-width: 875px;
  padding: 0 30px;
  padding-top: 25px;
  padding-bottom: 51px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .reviews__wrapper {
      display: grid;
      grid-template-columns: 1fr min-content;
      row-gap: 38px;
      padding: 0 50px;
      padding-top: 82px;
      padding-bottom: 130px;
      background-image: url("../img/reviews-bg.jpg");
      background-repeat: no-repeat;
      background-position: 0 3px;
      background-size: 350px auto; } }
  @media (min-width: 768px) and (min-resolution: 2dppx) {
    .reviews__wrapper {
      background-image: url("../img/reviews-bg@2x.jpg"); } }
  @media (min-width: 1150px) {
    .reviews__wrapper {
      row-gap: 35px;
      padding-left: 225px;
      padding-bottom: 184px;
      background-position: 50px 8px; } }

.reviews__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 30px; }
  @media (min-width: 768px) {
    .reviews__title {
      margin: 0;
      margin-top: 5px;
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .reviews__title {
      font-size: 53px;
      line-height: 57px; } }

.reviews__list {
  min-height: 192px;
  margin-bottom: 29px; }
  @media (min-width: 768px) {
    .reviews__list {
      grid-column: 1/-1;
      grid-row: 2/3;
      margin-bottom: 0; } }
  @media (min-width: 1150px) {
    .reviews__list {
      max-width: 802px; } }

.reviews__quote {
  margin: 0; }

.reviews__text {
  margin: 0;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .reviews__text {
      margin-bottom: 57px;
      font-size: 17px;
      line-height: 30px; } }
  @media (min-width: 1150px) {
    .reviews__text {
      margin-bottom: 42px; } }

.reviews__author {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 30px;
  font-style: normal; }

.reviews__author-name {
  font-size: 17px; }
  @media (min-width: 768px) {
    .reviews__author-name {
      font-size: 18px; } }
  @media (min-width: 1150px) {
    .reviews__author-name {
      font-size: 17px; } }

.reviews__toggles {
  margin-bottom: 38px; }
  @media (min-width: 768px) {
    .reviews__toggles {
      grid-column: 2/3;
      grid-row: 2/3;
      margin-top: auto;
      margin-left: auto;
      margin-bottom: 0; } }

@media (min-width: 768px) {
  .reviews__write {
    margin-bottom: auto;
    margin-left: auto;
    min-width: 175px; } }

@media (min-width: 1150px) {
  .reviews__write {
    margin-top: 5px; } }

.contacts {
  background-color: #ffffff; }

.contacts__container {
  position: relative;
  max-width: 875px;
  padding-bottom: 39px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  color: #444444; }
  @media (min-width: 768px) {
    .contacts__container {
      padding-bottom: 57px;
      font-size: 17px;
      line-height: 30px; } }
  @media (min-width: 1150px) {
    .contacts__container {
      display: grid;
      grid-template-columns: 290px 527px;
      column-gap: 55px;
      padding-left: 175px;
      padding-top: 70px;
      padding-bottom: 97px; } }

.contacts__wrapper {
  position: relative;
  padding: 0 30px;
  padding-top: 38px;
  margin: 0 auto;
  margin-bottom: 62px; }
  @media (min-width: 768px) {
    .contacts__wrapper {
      padding: 0 50px;
      padding-top: 72px;
      margin-bottom: 48px; }
      .contacts__wrapper::after {
        content: "";
        position: absolute;
        top: 49px;
        right: 53px;
        width: 47px;
        height: 81px;
        background-image: url("../img/flag.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%; } }
  @media (min-width: 1150px) {
    .contacts__wrapper {
      padding: 0;
      padding-top: 80px; }
      .contacts__wrapper::after {
        top: 63px;
        left: -112px; } }

.contacts__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 30px;
  color: #000000; }
  @media (min-width: 768px) {
    .contacts__title {
      grid-column: 1/2;
      margin-bottom: 49px;
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .contacts__title {
      margin-bottom: 35px;
      font-size: 53px;
      line-height: 57px; } }

.contacts__list {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: max-content 1fr;
  margin: 0; }
  @media (min-width: 768px) {
    .contacts__list {
      display: flex; } }
  @media (min-width: 1150px) {
    .contacts__list {
      display: grid;
      grid-template-columns: max-content 1fr;
      margin-bottom: 0; } }

.contacts__property {
  margin-right: 33px;
  margin-bottom: 30px;
  text-transform: lowercase; }
  @media (min-width: 768px) {
    .contacts__property {
      display: flex;
      margin-right: 25px; } }

.contacts__value {
  margin: 0; }
  @media (min-width: 768px) {
    .contacts__value {
      margin-right: 50px; }
      .contacts__value:last-child {
        margin-right: 0; } }

.contacts__map {
  position: absolute; }

.contacts__map,
.contacts__map-picture {
  display: block;
  width: 100%;
  margin-bottom: 29px; }
  @media (min-width: 768px) {
    .contacts__map,
    .contacts__map-picture {
      grid-column: 2/3;
      grid-row: 1/3;
      margin-bottom: 48px; } }
  @media (min-width: 1150px) {
    .contacts__map,
    .contacts__map-picture {
      margin-bottom: 0; } }

.contacts__map-image {
  width: 100%;
  max-height: 457px;
  object-fit: contain; }

.contacts__write-us {
  max-width: 260px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .contacts__write-us {
      max-width: 230px; } }
  @media (min-width: 1150px) {
    .contacts__write-us {
      margin: 0;
      margin-top: 35px;
      margin-bottom: 8px;
      grid-row: 2/3; } }

.contacts__email-link {
  position: relative; }
  .contacts__email-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: #63d1bb; }
    @media (min-width: 768px) {
      .contacts__email-link::after {
        bottom: -4px; } }
    @media (min-width: 1150px) {
      .contacts__email-link::after {
        bottom: -9px; } }
  .contacts__email-link:hover, .contacts__email-link:focus {
    color: #63d1bb; }
  .contacts__email-link:active::after {
    opacity: 0.1; }

.page-footer {
  background-color: #f1f1f1; }

.page-footer__wrapper {
  padding: 30px;
  padding-top: 25px; }
  @media (min-width: 768px) {
    .page-footer__wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 1050px;
      padding: 50px;
      padding-bottom: 60px;
      margin: 0 auto; } }

.page-footer__logo {
  display: none; }
  @media (min-width: 768px) {
    .page-footer__logo {
      display: block; }
      .page-footer__logo[href]:hover svg, .page-footer__logo[href]:focus svg {
        fill: #46c1ae; }
      .page-footer__logo[href]:active svg {
        fill: rgba(70, 193, 174, 0.3); } }

.page-footer__socials {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 22px;
  list-style: none; }
  @media (min-width: 768px) {
    .page-footer__socials {
      margin: 0;
      margin-top: 3px;
      margin-left: 12px; } }

.page-footer__copyright {
  margin: 0 auto;
  box-shadow: inset 0 1px 0 #ececec; }
  @media (min-width: 768px) {
    .page-footer__copyright {
      margin: 0;
      margin-top: -8px;
      box-shadow: none; } }

.socials {
  display: flex;
  justify-content: space-between;
  width: 150px; }

.socials__link {
  display: flex;
  width: 30px;
  height: 30px; }
  .socials__link:hover svg, .socials__link:focus svg {
    fill: #46c1ae; }
  .socials__link:active svg {
    fill: rgba(70, 193, 174, 0.3); }

.socials__item-icons {
  margin: auto; }

.copyright {
  width: 181px;
  padding-top: 28px; }
  @media (min-width: 768px) {
    .copyright {
      width: 193px;
      padding: 0;
      padding-top: 7px; } }

.copyright__text {
  font-size: 19px;
  line-height: 19px; }
  @media (min-width: 768px) {
    .copyright__text {
      padding-left: 10px; } }

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .copyright__link .copyright__icon {
    width: 27px;
    height: 34px;
    fill: #63d1bb; }
  .copyright__link:hover .copyright__icon {
    fill: #46c1ae; }
  .copyright__link:active .copyright__icon {
    fill: rgba(70, 193, 174, 0.3); }

.to-cart {
  display: block;
  max-width: 506px;
  padding: 30px;
  background-color: #ffffff; }

.to-cart__title {
  padding: 0 55px;
  margin: 0;
  margin-bottom: 14px;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase; }

.to-cart-form {
  color: #444444; }

.to-cart-form__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 30px;
  text-align: center; }

.to-cart-form__list {
  display: flex;
  max-width: 350px;
  padding: 0;
  margin: 0 auto;
  list-style: none; }
  @media (min-width: 768px) {
    .to-cart-form__list {
      max-width: 350px; } }

.to-cart-form__item {
  flex-grow: 1;
  max-width: 112px;
  margin-right: 7px; }
  .to-cart-form__item:last-child {
    margin-right: 0; }

.to-cart-form__label {
  display: block;
  padding: 18px 0;
  border: 2px solid rgba(68, 68, 68, 0.1);
  font-weight: 700;
  text-align: center;
  cursor: pointer; }
  .to-cart-form__label:hover {
    border-color: rgba(68, 68, 68, 0.3); }
  .to-cart-form__label:active {
    border-color: #62d1ba; }

.to-cart-form__radio {
  display: none;
  width: 50px;
  height: 50px;
  margin: 0; }
  .to-cart-form__radio:focus + .to-cart-form__label {
    border-color: rgba(68, 68, 68, 0.3); }
  .to-cart-form__radio:checked + .to-cart-form__label {
    border-color: #62d1ba; }

.to-cart-form__add-button {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 30px; }

.inner-page__main {
  background: none; }

.order-form {
  padding: 17px 0;
  padding-bottom: 28px; }
  @media (min-width: 768px) {
    .order-form {
      padding-top: 55px;
      padding-bottom: 11px; } }
  @media (min-width: 1150px) {
    .order-form {
      padding-top: 114px; } }

.order-form__info {
  max-width: 470px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 13px; }
  @media (min-width: 768px) {
    .order-form__info {
      min-width: 670px;
      padding: 0 50px;
      font-size: 17px;
      line-height: 30px; } }
  @media (min-width: 1150px) {
    .order-form__info {
      max-width: 700px; } }

.order-form__fieldset {
  position: relative;
  max-width: 700px;
  padding: 0;
  margin: 0 auto;
  border: 0; }
  @media (min-width: 768px) {
    .order-form__fieldset {
      padding-left: 170px; } }
  @media (min-width: 1150px) {
    .order-form__fieldset {
      padding: 0 115px; } }

.order-form__wrapper {
  padding: 0 30px;
  margin-bottom: 27px; }
  @media (min-width: 768px) {
    .order-form__wrapper {
      padding: 39px 50px;
      margin-bottom: 13px; }
      .order-form__wrapper:nth-child(odd) {
        background-color: #f1f1f1; }
      .order-form__wrapper:last-child {
        background-color: #ffffff; } }
  @media (min-width: 1150px) {
    .order-form__wrapper {
      margin-bottom: 14px; } }

.order-form__wrapper--color {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .order-form__wrapper--color {
      padding: 50px;
      margin-bottom: 20px; }
      .order-form__wrapper--color .order-form__fieldset {
        max-width: 700px;
        padding-left: 167px; } }
  @media (min-width: 1150px) {
    .order-form__wrapper--color {
      padding: 50px 50px; }
      .order-form__wrapper--color .order-form__fieldset {
        max-width: 765px;
        padding-left: 115px;
        padding-right: 50px; } }

@media (min-width: 768px) {
  .order-form__wrapper--name {
    padding: 33px 50px;
    padding-bottom: 37px; }
    .order-form__wrapper--name .order-form__fieldset {
      padding-left: 167px; } }

@media (min-width: 1150px) {
  .order-form__wrapper--name {
    padding-bottom: 35px; }
    .order-form__wrapper--name .order-form__fieldset {
      padding-left: 115px; } }

@media (min-width: 768px) {
  .order-form__wrapper--contacts {
    padding: 46px 50px;
    padding-bottom: 50px; } }

@media (min-width: 1150px) {
  .order-form__wrapper--contacts {
    padding-bottom: 49px; } }

.order-form__wrapper--message {
  margin-bottom: 12px; }
  @media (min-width: 768px) {
    .order-form__wrapper--message {
      padding: 32px 50px;
      padding-bottom: 24px;
      margin-bottom: 0; }
      .order-form__wrapper--message .order-form__fieldset {
        padding-left: 167px; } }
    @media (min-width: 768px) and (min-width: 1150px) {
      .order-form__wrapper--message .order-form__fieldset {
        padding-left: 115px; } }

@media (min-width: 650px) {
  .order-form__wrapper--bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 840px;
    padding-top: 0;
    margin: 0 auto; } }

@media (min-width: 1150px) {
  .order-form__wrapper--bottom {
    max-width: 700px; } }

.order-form__title {
  position: relative;
  width: 100%;
  min-height: 24px;
  padding: 0;
  margin-bottom: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: #63d1bb; }
  @media (min-width: 768px) {
    .order-form__title {
      position: absolute;
      top: 13px;
      left: 0;
      max-width: 140px; } }
  .order-form__title::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #62d1ba; }
    @media (min-width: 768px) {
      .order-form__title::after {
        display: none; } }

.order-form__title span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding-right: 23px;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .order-form__title span {
      background-color: transparent; } }

.order-form__title--color {
  margin-bottom: 20px; }

.order-form__title--name {
  margin-top: -2px;
  margin-bottom: 21px; }

.order-form__list {
  display: grid;
  row-gap: 11px;
  padding: 0;
  margin: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .order-form__list {
      row-gap: 26px; } }

.order-form__list--color {
  row-gap: 23px; }
  @media (min-width: 530px) {
    .order-form__list--color {
      grid-template-columns: 1fr 1fr;
      column-gap: 21px;
      row-gap: 24px; } }
  @media (min-width: 1150px) {
    .order-form__list--color {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 23px; } }

.order-form__list--name {
  row-gap: 18px; }
  @media (min-width: 768px) {
    .order-form__list--name {
      row-gap: 27px; } }

.order-form__list--contacts {
  row-gap: 28px; }
  @media (min-width: 768px) {
    .order-form__list--contacts {
      row-gap: 18px; } }

.order-form__footnote {
  margin: 0;
  margin-top: 17px;
  font-size: 14px;
  line-height: 16px;
  color: #444444; }
  @media (min-width: 650px) {
    .order-form__footnote {
      order: 2;
      justify-self: end;
      margin: 0;
      font-size: 17px;
      line-height: 30px; } }

.order-form__submit {
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  margin-top: 26px;
  font-size: 17px; }
  @media (min-width: 650px) {
    .order-form__submit {
      max-width: 230px;
      margin: 0;
      margin-top: 30px; } }
  @media (min-width: 1150px) {
    .order-form__submit {
      margin-top: 25px; } }

.form-radio {
  position: relative;
  display: flex;
  align-items: center; }

.form-radio__label {
  display: flex;
  align-items: center;
  min-height: 42px;
  padding-left: 58px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  cursor: pointer; }
  @media (min-width: 768px) {
    .form-radio__label {
      min-height: 49px;
      padding-left: 75px;
      font-size: 19px;
      line-height: 22px; } }
  @media (min-width: 1150px) {
    .form-radio__label {
      padding-left: 78px; } }
  .form-radio__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    border: 2px solid #444444;
    border-radius: 50%; }
    @media (min-width: 768px) {
      .form-radio__label::before {
        width: 45px;
        height: 45px; } }
  .form-radio__input:checked + .form-radio__label::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #62d1ba; }
    @media (min-width: 768px) {
      .form-radio__input:checked + .form-radio__label::after {
        top: 14px;
        left: 15px;
        width: 20px;
        height: 20px; } }
  .form-radio__label:hover::before, .form-radio__label:focus::before {
    border-color: #62d1ba; }
  .form-radio__label:active::before {
    border-color: #000000;
    opacity: 0.3; }

.form-radio__input {
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  margin: 0;
  opacity: 0; }
  @media (min-width: 768px) {
    .form-radio__input {
      width: 49px;
      height: 49px; } }
  .form-radio__input:focus + .form-radio__label::before {
    border-color: #62d1ba; }

.form-checkbox {
  position: relative;
  display: flex;
  align-items: center; }

.form-checkbox__label {
  display: flex;
  align-items: center;
  min-height: 38px;
  padding-left: 61px;
  font-weight: 700;
  word-break: break-all;
  cursor: pointer; }
  @media (min-width: 768px) {
    .form-checkbox__label {
      min-height: 52px;
      padding-left: 81px;
      font-size: 19px;
      line-height: 20px; } }
  .form-checkbox__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    border: 2px solid #444444; }
    @media (min-width: 768px) {
      .form-checkbox__label::before {
        width: 48px;
        height: 48px; } }
  .form-checkbox__input:checked + .form-checkbox__label::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 7px;
    width: 25px;
    height: 17px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .form-checkbox__input:checked + .form-checkbox__label::after {
        top: 15px;
        left: 10px;
        width: 34px;
        height: 23px;
        background-size: contain; } }
  .form-checkbox__label:hover::before {
    border-color: #62d1ba; }
  .form-checkbox__label:active::before {
    border-color: #000000;
    opacity: 0.3; }

.form-checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  margin: 0;
  opacity: 0; }
  @media (min-width: 768px) {
    .form-checkbox__input {
      width: 52px;
      height: 52px; } }
  .form-checkbox__input:focus + .form-checkbox__label::before {
    border-color: #62d1ba; }

.form-text {
  position: relative;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .form-text {
      flex-direction: row;
      align-items: baseline; } }

.form-text__label {
  margin-bottom: 0;
  font-weight: 700; }
  @media (min-width: 768px) {
    .form-text__label {
      padding-right: 25px;
      font-size: 19px;
      line-height: 24px; } }

.form-text--phone .form-text__label,
.form-text--email .form-text__label {
  margin-top: 3px; }
  @media (min-width: 768px) {
    .form-text--phone .form-text__label,
    .form-text--email .form-text__label {
      position: absolute;
      top: 18px;
      left: -170px;
      font-size: 17px;
      line-height: 14px; } }
  @media (min-width: 1150px) {
    .form-text--phone .form-text__label,
    .form-text--email .form-text__label {
      left: -115px; } }

@media (min-width: 768px) {
  .form-text--email .form-text__label {
    top: 22px; } }

.form-text__input {
  flex-grow: 1;
  padding: 10px;
  border: 0;
  border-bottom: 2px solid #000000;
  font-family: inherit;
  font-size: 17px;
  line-height: 29px;
  background-color: transparent;
  z-index: 1; }
  @media (max-width: 767px) {
    .form-text__input {
      padding-left: 0;
      padding-bottom: 9px; } }
  @media (min-width: 768px) {
    .form-text__input {
      padding-left: 18px;
      padding-bottom: 11px;
      font-size: 19px;
      line-height: 26px; } }
  @media (min-width: 1150px) {
    .form-text__input {
      padding-left: 17px; } }
  .form-text__input:hover, .form-text__input:focus, .form-text__input:active {
    outline: none;
    border-color: #62d1ba; }
  .form-text__input:hover + .form-text__icon,
  .form-text__input:focus + .form-text__icon,
  .form-text__input:active + .form-text__icon {
    fill: #62d1ba;
    opacity: 1; }

.form-text--phone input {
  padding-bottom: 14px; }
  @media (max-width: 767px) {
    .form-text--phone input {
      padding-left: 0;
      padding-bottom: 11px; } }
  @media (min-width: 768px) {
    .form-text--phone input {
      padding-top: 14px;
      padding-left: 13px; } }
  @media (min-width: 1150px) {
    .form-text--phone input {
      padding-left: 17px;
      padding-bottom: 15px; } }

.form-text--email input {
  padding-top: 13px;
  padding-bottom: 11px; }
  @media (max-width: 767px) {
    .form-text--email input {
      padding-left: 0; } }
  @media (min-width: 768px) {
    .form-text--email input {
      padding-top: 17px;
      padding-bottom: 13px;
      padding-left: 15px; } }
  @media (min-width: 1150px) {
    .form-text--email input {
      padding-left: 17px; } }

.form-text__icon {
  position: absolute;
  fill: #000000;
  opacity: 0.2; }

.form-text--phone .form-text__icon {
  top: 38px;
  right: 7px; }
  @media (min-width: 768px) {
    .form-text--phone .form-text__icon {
      top: 15px;
      right: 28px; } }
  @media (min-width: 1150px) {
    .form-text--phone .form-text__icon {
      top: 16px;
      right: 8px; } }

.form-text--email .form-text__icon {
  top: 43px;
  right: 3px; }
  @media (min-width: 768px) {
    .form-text--email .form-text__icon {
      top: 22px;
      right: 24px; } }
  @media (min-width: 1150px) {
    .form-text--email .form-text__icon {
      top: 22px;
      right: 4px; } }

.form-message {
  position: relative;
  padding-top: 5px; }
  @media (min-width: 768px) {
    .form-message {
      padding-left: 160px; } }

.form-message__label {
  display: block;
  margin-bottom: 14px; }
  @media (min-width: 768px) {
    .form-message__label {
      margin-bottom: 18px;
      position: absolute;
      top: 21px;
      left: 0; } }

.form-message__textarea {
  display: block;
  width: 100%;
  min-height: 142px;
  border: 2px solid #000000;
  padding: 15px;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .form-message__textarea {
      font-size: 19px;
      line-height: 20px; } }
  .form-message__textarea:hover, .form-message__textarea:focus, .form-message__textarea:active {
    outline: none;
    border-color: #62d1ba; }

.catalog {
  padding: 30px 0;
  padding-bottom: 10px; }
  @media (min-width: 768px) {
    .catalog {
      padding-top: 68px;
      padding-bottom: 53px; } }
  @media (min-width: 1150px) {
    .catalog {
      padding-top: 127px;
      padding-bottom: 59px; } }

.catalog__list {
  display: grid;
  row-gap: 30px;
  padding: 0 30px;
  margin: 0 auto;
  list-style: none; }
  @media (min-width: 768px) {
    .catalog__list {
      row-gap: 54px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .catalog__list {
      max-width: 1050px;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 50px; } }

.catalog__item {
  width: 100%;
  max-width: 380px;
  margin: 0 auto; }
  .catalog__item:last-child {
    margin-bottom: 0; }
  @media (min-width: 600px) {
    .catalog__item {
      max-width: 668px; } }
  @media (min-width: 1150px) {
    .catalog__item {
      max-width: 316px;
      margin: 0; } }

.product-card {
  position: relative;
  display: grid;
  padding: 0 30px;
  padding-left: 28px;
  border: 1px solid #ececec; }
  @media (min-width: 600px) {
    .product-card {
      grid-template-columns: max-content 1fr;
      grid-template-rows: min-content min-content 1fr;
      column-gap: 32px;
      padding-left: 0; } }
  @media (min-width: 1150px) {
    .product-card {
      grid-template-columns: 1fr;
      height: 100%;
      padding-left: 28px; } }
  .product-card:hover::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
    @media (min-width: 600px) {
      .product-card:hover::after {
        left: auto;
        width: calc(100% - 334px); } }
    @media (min-width: 1150px) {
      .product-card:hover::after {
        top: 462px;
        left: 0;
        width: 100%; } }
  .product-card:active::after {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

@media (min-width: 600px) {
  .product-card__link--title {
    margin-top: 27px; } }

@media (min-width: 1150px) {
  .product-card__link--title {
    margin-top: 29px; } }

.product-card__link--image {
  order: -1;
  margin: 0 -30px;
  margin-left: -28px;
  margin-bottom: 28px; }
  @media (min-width: 600px) {
    .product-card__link--image {
      grid-row: 1/-1;
      margin: -1px 0;
      margin-left: -1px; } }
  @media (min-width: 1150px) {
    .product-card__link--image {
      grid-row: auto;
      margin: 0 -31px;
      margin-left: -29px;
      margin-top: -1px; } }

.product-card__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 17px;
  line-height: 24px; }
  @media (min-width: 768px) {
    .product-card__title {
      width: 100%;
      max-width: 260px;
      font-size: 20px; } }

.product-card__image {
  display: block;
  width: 100%; }
  @media (min-width: 600px) {
    .product-card__image {
      width: 334px;
      height: 334px; } }
  @media (min-width: 1150px) {
    .product-card__image {
      min-height: 462px; } }

.product-card__specs {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 30px; }
  @media (min-width: 768px) {
    .product-card__specs {
      font-size: 15px; } }
  @media (min-width: 1150px) {
    .product-card__specs {
      margin-bottom: 9px; } }

.product-card__order {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 15px;
  margin: 0;
  border-top: 1px solid #ececec;
  font-size: 15px; }
  @media (min-width: 600px) {
    .product-card__order {
      margin: 0;
      margin-top: auto; } }
  @media (min-width: 768px) {
    .product-card__order {
      font-size: 17px; } }

.product-card__price {
  padding-right: 15px; }

.product-card__buy {
  display: flex;
  width: 50px;
  height: 50px;
  margin-top: -16px;
  margin-right: -18px; }
  @media (min-width: 768px) {
    .product-card__buy {
      margin-right: -13px; } }
  .product-card__buy .product-card__buy-icon {
    margin: auto;
    opacity: 0.2; }
  .product-card__buy:hover .product-card__buy-icon,
  .product-card__buy:focus .product-card__buy-icon {
    opacity: 1;
    fill: #63d1bb; }
  .product-card__buy:focus .product-card__buy-icon {
    opacity: 0.3; }

.catalog-video {
  max-width: 380px;
  padding: 0 30px;
  padding-top: 22px;
  padding-bottom: 33px; }
  @media (min-width: 600px) {
    .catalog-video {
      max-width: 668px; } }
  @media (min-width: 768px) {
    .catalog-video {
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .catalog-video {
      max-width: 1050px; } }

.catalog-video__wrapper {
  position: relative;
  display: grid;
  border: 1px solid #ececec;
  padding: 0 30px;
  padding-left: 33px;
  padding-top: 20px;
  padding-bottom: 32px; }
  @media (min-width: 440px) {
    .catalog-video__wrapper {
      padding-top: 0;
      padding-left: 41px;
      padding-right: 42px; } }
  @media (min-width: 768px) {
    .catalog-video__wrapper {
      padding-bottom: 45px; } }
  @media (min-width: 1150px) {
    .catalog-video__wrapper {
      grid-template-columns: 682px 1fr;
      grid-template-rows: min-content min-content 1fr;
      column-gap: 80px;
      padding-left: 0;
      padding-bottom: 0; } }
  .catalog-video__wrapper:hover::after {
    content: "";
    position: absolute;
    top: 49%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
    @media (min-width: 768px) {
      .catalog-video__wrapper:hover::after {
        top: 455px; } }
    @media (min-width: 1150px) {
      .catalog-video__wrapper:hover::after {
        top: 0;
        left: auto;
        width: calc(100% - 682px); } }
  .catalog-video__wrapper:active::after {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.catalog-video__title {
  position: relative;
  padding-left: 57px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 17px; }
  .catalog-video__title::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    width: 32px;
    height: 22px;
    background-image: url("../img/video.svg"); }
  @media (min-width: 386px) {
    .catalog-video__title::before {
      top: -3px; } }
  @media (min-width: 440px) {
    .catalog-video__title {
      font-size: 20px; } }
  @media (min-width: 768px) {
    .catalog-video__title {
      padding-left: 65px;
      margin-bottom: 24px; } }
  @media (min-width: 1150px) {
    .catalog-video__title {
      max-width: 225px;
      padding-left: 0;
      margin-top: 95px;
      margin-bottom: 28px; }
      .catalog-video__title::before {
        top: -49px;
        left: -1px; } }

.catalog-video__player-wrapper {
  position: relative;
  margin: 0 -30px;
  margin-left: -33px;
  margin-bottom: 37px; }
  @media (min-width: 440px) {
    .catalog-video__player-wrapper {
      order: -1;
      margin-top: -1px;
      margin-left: -42px;
      margin-right: -43px; } }
  @media (min-width: 768px) {
    .catalog-video__player-wrapper {
      margin-bottom: 42px; } }
  @media (min-width: 1150px) {
    .catalog-video__player-wrapper {
      grid-row: 1/-1;
      margin: 0; } }

.catalog-video__player {
  display: block;
  width: 100%; }
  @media (min-width: 768px) {
    .catalog-video__player {
      height: 455px; } }
  @media (min-width: 1150px) {
    .catalog-video__player {
      height: 100%; } }

.catalog-video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -38px;
  margin-left: -50px;
  width: 101px;
  height: 77px;
  border: 0;
  background-color: transparent;
  background-image: url("../img/play.svg");
  z-index: 10; }
  .catalog-video__play:hover, .catalog-video__play:focus {
    transform: scale(1.2); }
  .catalog-video__play:active {
    transform: scale(0.8);
    opacity: 0.3; }

.catalog-video__description {
  max-width: 580px;
  padding: 0;
  margin: 0;
  margin-bottom: 41px;
  font-size: 13px; }
  @media (min-width: 440px) {
    .catalog-video__description {
      margin-bottom: 40px;
      font-size: 15px;
      line-height: 30px; } }
  @media (min-width: 1150px) {
    .catalog-video__description {
      padding-left: 0;
      margin-bottom: 51px; } }

.catalog-video__buy {
  width: 100%; }
  @media (min-width: 1150px) {
    .catalog-video__buy {
      max-width: 230px;
      margin: 0;
      margin-bottom: 60px; } }

.page {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px; }

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  color: #000000;
  background-color: #ffffff; }

.page__modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  z-index: 110;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25); }

.page__modal--opened {
  display: block; }
