.catalog-video {
  padding: 0 30px;
  padding-top: 22px;
  padding-bottom: 33px;
}

.catalog-video__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $special-grey;
  padding-top: 20px;
  padding-bottom: 33px;
}

.catalog-video__title {
  padding-left: 90px;
  padding-right: 30px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
}

.catalog-video__player-wrapper {
  position: relative;
  margin-bottom: 35px;
}

.catalog-video__player {
  display: block;
}

.catalog-video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -45px;
  width: 90px;
  height: 65px;
  border: 5px solid $basic-white;
  border-radius: 20px;
  background-color: $basic-aquamarine;
  z-index: 10;
}

.catalog-video__description {
  max-width: 510px;
  padding: 0 30px;
  margin: 0;
  margin-bottom: 40px;
  font-size: 13px;
}

.catalog-video__buy {
  min-width: 192px;
}
