.catalog-video {
  max-width: 668px;
  padding: 0 30px;
  padding-top: 22px;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    max-width: 680px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
  }
}

.catalog-video__wrapper {
  display: grid;
  border: 1px solid $special-grey;
  padding-top: 20px;
  padding-bottom: 33px;

  @media (min-width: 440px) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 680px 1fr;
    grid-template-rows: min-content min-content 1fr;
    column-gap: 80px;
    padding-bottom: 0;
  }
}

.catalog-video__title {
  padding-left: 90px;
  padding-right: 30px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 17px;

  @media (min-width: 440px) {
    font-size: 20px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 107px;
  }

  @media (min-width: $desktop-width) {
    max-width: 225px;
    padding-left: 0;
    margin-top: 95px;
  }
}

.catalog-video__player-wrapper {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: 440px) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/-1;
    margin-bottom: 0;
  }
}

.catalog-video__player {
  display: block;
  width: 100%;

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.catalog-video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -45px;
  width: 90px;
  height: 65px;
  border: 5px solid $basic-white;
  border-radius: 20px;
  background-color: $basic-aquamarine;
  z-index: 10;
}

.catalog-video__description {
  max-width: 580px;
  padding: 0 30px;
  margin: 0;
  margin-bottom: 40px;
  font-size: 13px;

  @media (min-width: 440px) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-bottom: 50px;
  }
}

.catalog-video__buy {
  width: calc(100% - 68px);
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 230px;
    margin: 0;
    margin-bottom: 60px;
  }
}
