.catalog-video {
  max-width: 380px;
  padding: 0 30px;
  padding-top: 22px;
  padding-bottom: 33px;

  @media (min-width: 600px) {
    max-width: 668px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
  }
}

.catalog-video__wrapper {
  position: relative;
  display: grid;
  border: 1px solid $special-grey;
  padding: 0 30px;
  padding-left: 33px;
  padding-top: 20px;
  padding-bottom: 32px;

  @media (min-width: 440px) {
    padding-top: 0;
    padding-left: 41px;
    padding-right: 42px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 682px 1fr;
    grid-template-rows: min-content min-content 1fr;
    column-gap: 80px;
    padding-left: 0;
    padding-bottom: 0;
  }

  &:hover {
    &::after {
      content: "";
      position: absolute;
      top: 49%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      box-shadow: 0 6px 10px rgba($basic-black, 0.1);

      @media (min-width: $tablet-width) {
        top: 455px;
      }

      @media (min-width: $desktop-width) {
        top: 0;
        left: auto;
        width: calc(100% - 682px);
      }
    }
  }

  &:active {
    &::after {
      box-shadow: 0 3px 5px rgba($basic-black, 0.1);
    }
  }
}

.catalog-video__title {
  position: relative;
  padding-left: 57px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 17px;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    width: 32px;
    height: 22px;
    background-image: url("../img/video.svg");
  }

  @media (min-width: 386px) {
    &::before {
      top: -3px;
    }
  }

  @media (min-width: 440px) {
    font-size: 20px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 65px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 225px;
    padding-left: 0;
    margin-top: 95px;
    margin-bottom: 28px;

    &::before {
      top: -49px;
      left: -1px;
    }
  }
}

.catalog-video__player-wrapper {
  position: relative;
  margin: 0 -30px;
  margin-left: -33px;
  margin-bottom: 37px;

  @media (min-width: 440px) {
    order: -1;
    margin-top: -1px;
    margin-left: -42px;
    margin-right: -43px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/-1;
    margin: 0;
  }
}

.catalog-video__player {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.catalog-video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -38px;
  margin-left: -50px;
  width: 101px;
  height: 77px;
  border: 0;
  background-color: transparent;
  background-image: url("../img/play.svg");
  z-index: 10;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.catalog-video__description {
  max-width: 580px;
  padding: 0;
  margin: 0;
  margin-bottom: 41px;
  font-size: 13px;

  @media (min-width: 440px) {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-bottom: 51px;
  }
}

.catalog-video__buy {
  width: 100%;

  @media (min-width: $desktop-width) {
    max-width: 230px;
    margin: 0;
    margin-bottom: 60px;
  }
}
