.contacts {
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 30px;
  color: $basic-dark;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 290px 1fr;
    grid-template-rows: 1fr min-content;
    column-gap: 55px;
    padding-left: 225px;
    padding-right: 50px;
    padding-bottom: 105px;
  }
}

.contacts__wrapper {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(min-content);
  margin: 0;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.contacts__property {
  margin-right: 25px;
  text-transform: lowercase;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.contacts__value {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-right: auto;

    &:last-child {
      margin-right: 0;
    }
  }
}

.contacts__map {
  grid-row: 1/3;
  grid-column: 2/3;
  width: 100%;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.contacts__write-us {
  max-width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 230px;
  }
}
