.copyright {
  width: 181px;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    width: 193px;
    padding: 0;
    padding-top: 7px;
  }
}

.copyright__text {
  font-size: 19px;
  line-height: 19px;

  @media (min-width: $tablet-width) {
    padding-left: 10px;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .copyright__icon {
    width: 27px;
    height: 34px;
    fill: $basic-aquamarine;
  }

  &:hover {
    .copyright__icon {
      fill: #46c1ae;
    }
  }

  &:active {
    .copyright__icon {
      fill: rgba(#46c1ae, 0.3);
    }
  }
}
