.features {
  background-color: $basic-white;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  padding: 31px 30px;
  margin: 0 auto;
  max-width: 875px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 26px 50px;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
    padding-top: 68px;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.features__list {
  display: grid;
  padding: 0;
  margin: 0 auto;
  list-style: none;

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: max-content max-content;
    column-gap: 50px;
  }
}

.features__item {
  position: relative;
  padding-top: 54px;
  margin-bottom: 29px;
  line-height: 20px;
  font-weight: 700;
  max-width: 300px;

  @media (max-width: $mobile-width-only) {
    &:nth-child(even) {
      order: 1;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    font-size: 20px;
    line-height: 22px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--flower::before {
    top: -10px;
    left: -3px;
    background-image: url("../img/flower.svg");
  }

  &--ball::before {
    top: -9px;
    left: -7px;
    background-image: url("../img/ball.svg");
  }

  &--money::before {
    top: -14px;
    left: -4px;
    background-image: url("../img/money.svg");
  }

  &--rocket::before {
    top: -13px;
    left: -6px;
    background-image: url("../img/rocket.svg");
  }

  &--heart::before {
    top: -9px;
    left: -4px;
    background-image: url("../img/heart.svg");
  }

  &--gift::before {
    top: -11px;
    left: -8px;
    background-image: url("../img/gift.svg");
  }
}
