.form-checkbox {
  display: flex;
  align-items: center;
  position: relative;
}

.form-checkbox__label {
  padding-left: 19px;
  margin-top: -2px;
  font-weight: 700;
  word-break: break-all;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    margin-top: 10px;
    font-size: 19px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    border: 2px solid $basic-dark;

    @media (min-width: $tablet-width) {
      width: 48px;
      height: 48px;
    }
  }

  .form-checkbox__input:checked + &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 7px;
    width: 25px;
    height: 17px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 15px;
      left: 10px;
      width: 34px;
      height: 23px;
      background-size: contain;
    }
  }

  &:hover::before,
  &:focus::before {
    border-color: $special-aquamarine;
  }

  &:active::before {
    border-color: $basic-black;
    opacity: 0.3;
  }
}

.form-checkbox__input {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  margin: 0;
  opacity: 0;
}
