.form-message {
  position: relative;
  padding-top: 4px;

  @media (min-width: $tablet-width) {
    padding-left: 160px;
  }
}

.form-message__label {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 18px;
    left: 0;
  }
}

.form-message__textarea {
  display: block;
  width: 100%;
  min-height: 142px;
  border: 2px solid $basic-black;
  padding: 15px;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 20px;
  }
}
