.form-message {
  position: relative;
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 755px;
    padding-left: 160px;
  }
}

.form-message__label {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 18px;
    left: 0;
  }
}

.form-message__textarea {
  width: 100%;
  min-height: 138px;
  border: 2px solid $basic-black;
  padding: 17px;
  font-family: inherit;
  font-size: 19px;
  box-sizing: border-box;
}
