.form-checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.form-checkbox__label {
  display: flex;
  align-items: center;
  min-height: 38px;
  padding-left: 61px;
  font-weight: 700;
  word-break: break-all;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    min-height: 52px;
    padding-left: 81px;
    font-size: 19px;
    line-height: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    border: 2px solid $basic-dark;

    @media (min-width: $tablet-width) {
      width: 48px;
      height: 48px;
    }
  }

  .form-checkbox__input:checked + &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 7px;
    width: 25px;
    height: 17px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 15px;
      left: 10px;
      width: 34px;
      height: 23px;
      background-size: contain;
    }
  }

  &:hover::before {
    border-color: $special-aquamarine;
  }

  &:active::before {
    border-color: $basic-black;
    opacity: 0.3;
  }
}

.form-checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  margin: 0;
  opacity: 0;

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }

  &:focus + .form-checkbox__label::before {
    border-color: $special-aquamarine;
  }
}
