.main-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  font-weight: 700;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.main-navigation__toggle {
  position: absolute;
  top: 29px;
  right: 31px;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: $basic-black;
  box-shadow: 0 6px 0 0 $basic-black, 0 12px 0 0 $basic-black;
}

.main-navigation--opened .main-navigation__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -3px;
    width: 27px;
    height: 2px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;


  @media (min-width: $tablet-width) {
    position: absolute;
    top: 85px;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 305px;
    font-size: 15px;
    z-index: 10;
  }

  @media (min-width: $desktop-width) {
    position: static;
    order: -1;
    width: auto;
    font-size: 17px;
  }

  &--market {
    position: absolute;
    display: none;
    top: 88px;
    left: 0;

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }
}

.main-navigation__item {
  display: block;
  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 76px;
  padding-right: 35px;
  box-shadow: 0 1px 0 $special-grey, inset 0 1px 0 $special-grey;

  &[href]:hover {
    color: rgba($basic-black, 0.6);

    .main-navigation__item-icon {
      opacity: 1;
      fill: $basic-aquamarine;
    }
  }

  &[href]:active {
    color: rgba($basic-black, 0.3);
  }


  @media (min-width: $tablet-width) {
    box-shadow: none;
    padding: 25px 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 33px;
    padding-left: 35px;
    padding-right: 35px;
  }

  &--search,
  &--cart {
    display: flex;
    align-items: center;
    padding-left: 32px;

    @media (min-width: $tablet-width) {
      padding: 0 32px;
      padding-top: 33px;
      padding-bottom: 31px;

      .main-navigation__item-icon {
        margin: 0;
      }
    }
  }

  &--search span {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--search {
    @media (min-width: $tablet-width) {
      border-left: 1px solid rgba($basic-black, 0.1);
      border-right: 1px solid rgba($basic-black, 0.1);
    }
  }

  &--cart {
    @media (min-width: $tablet-width) {
      padding-right: 0;
    }
  }

  &--search::before {
    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }

  &--new,
  &--sale {
    padding: 20px 0;
    margin-right: 60px;
    font-size: 15px;
  }

  &--catalog {
    @media (min-width: $desktop-width) {
      padding-left: 0;
      border-right: 1px solid rgba($basic-black, 0.1);
    }
  }
}

.main-navigation--closed .main-navigation__item {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-navigation__item-icon {
  margin-right: 26px;
  opacity: 0.2;
}

.main-navigation__item--cart .main-navigation__item-icon {
  margin-right: 23px;

  @media (min-width: $tablet-width) {
    margin-right: 31px;
  }
}
