.page-main {
  background: url(https://via.placeholder.com/575x373) no-repeat 50% 0;
}

.page-main__title {
  margin-bottom: 120px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.page-main__categories {
  margin-bottom: 30px;
}

.page-main__hit {
  margin-bottom: 30px;
}

.page-main__features {
  margin: 0 auto;
  margin-bottom: 60px;
}

.page-main__reviews {
  margin-bottom: 40px;
}

.page-main__contacts {
  margin-bottom: 40px;
}
