.page-footer {
  padding: 25px 30px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__socials {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 50px;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__copyright {
  margin: 0 auto;
  box-shadow: inset 0 1px 0 $special-grey;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
