.product-card {
  display: grid;
  padding: 0 30px;
  padding-left: 28px;
  border: 1px solid $special-grey;

  @media (min-width: 600px) {
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content min-content 1fr;
    column-gap: 32px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    height: 100%;
    padding-left: 28px;
  }
}

.product-card__link--title {
  @media (min-width: 600px) {
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 29px;
  }
}

.product-card__link--image {
  order: -1;
  margin: 0 -30px;
  margin-left: -28px;
  margin-bottom: 28px;

  @media (min-width: 600px) {
    grid-row: 1/-1;
    margin: -1px 0;
    margin-left: -1px;
  }

  @media (min-width: $desktop-width) {
    grid-row: auto;
    margin: 0 -31px;
    margin-left: -29px;
    margin-top: -1px;
  }
}

.product-card__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 260px;
    font-size: 20px;
  }
}

.product-card__image {
  display: block;
  width: 100%;

  @media (min-width: 600px) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    min-height: 462px;
  }
}

.product-card__specs {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 9px;
  }
}

.product-card__order {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 15px;
  margin: 0;
  border-top: 1px solid $special-grey;
  font-size: 15px;

  @media (min-width: 600px) {
    margin: 0;
    margin-top: auto;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.product-card__buy {
  display: flex;
  width: 50px;
  height: 50px;
  margin-top: -16px;
  margin-right: -18px;

  @media (min-width: $tablet-width) {
    margin-right: -13px;
  }

  .product-card__buy-icon {
    margin: auto;
    opacity: 0.2;
  }

  &:hover .product-card__buy-icon,
  &:focus .product-card__buy-icon {
    opacity: 1;
    fill: $basic-aquamarine;
  }

  &:focus .product-card__buy-icon {
    opacity: 0.3;
  }
}
