.socials {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.socials__link {
  display: flex;
  width: 30px;
  height: 30px;

  &:hover,
  &:focus {
    svg {
      fill: #46c1ae;
    }
  }

  &:active {
    svg {
      fill: rgba(#46c1ae, 0.3);
    }
  }
}

.social__item-icons {
  margin: auto;
}
