.specs {
  font-size: 15px;
  line-height: 20px;
}

.specs__item {
  display: flex;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 11px;
  border-bottom: 1px solid $basic-grey;
}

.specs__name {
  width: 22%;

  @media (min-width: $tablet-width) {
    width: 20%;
  }
}
