.to-cart {
  display: block;
  max-width: 506px;
  padding: 30px;
  background-color: $basic-white;
}

.to-cart__title {
  padding: 0 55px;
  margin: 0;
  margin-bottom: 14px;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}
