.to-cart-form {
  color: $basic-dark;
}

.to-cart-form__text {
  font-size: 15px;
  line-height: 30px;
}

.to-cart-form__label {
  padding: 18px 22px;
  border: 2px solid $special-grey;
  font-weight: bold;
  cursor: pointer;
}

.to-cart-form__add-button {
  margin-top: 30px;
}
