.to-cart-form {
  color: $basic-dark;
}

.to-cart-form__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.to-cart-form__list {
  display: flex;
  justify-content: space-between;
  width: 260px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.to-cart-form__item {
  position: relative;
}

.to-cart-form__label {
  display: block;
  width: 78px;
  padding: 18px 0;
  border: 2px solid $special-grey;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.to-cart-form__radio {
  display: none;
  width: 50px;
  height: 50px;
  margin: 0;
}

.to-cart-form__add-button {
  width: 100%;
  margin-top: 30px;
}
