$basic-black: #000000;
$basic-dark: #444444;
$basic-white: #ffffff;
$basic-grey: #f1f1f1;
$basic-aquamarine: #63d1bb;
$basic-dark-aquamarine: #149080;
$special-grey: #ececec;
$special-quamarine: #62d1ba;
$special-dark-aquamarine: #56c3b2;
